/* ---------------------------- PARTIALS
*/

@import "partials/box-sizing.scss";
@import "partials/clearfix.scss";
@import "partials/reset.scss";
@import "partials/images.scss";
@import "partials/font.scss";

/* ---------------------------- VARIABLES
*/
$white: #F3F0EC;
$darkbis: #242226;
$dark: #323330;
$borderBottom: 1px solid $dark;

$transition--search: all .15s linear;

/* ---------------------------- BASE
*/

body {
  background-color: #f4f7f6;
}


/* ---------------------------- LAYOUT
*/



/* ---------------------------- MODULES
*/

/*
.declaration-order {
  // Positioning
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  // Box-model
  display: block;
  float: right;
  width: 100px;
  height: 100px;

  // Typography
  font: normal 13px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  text-align: center;

  // Visual
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  // Misc
  opacity: 1;
}
*/

/* ---------------------------------------------- header
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #0a1612;
  background-color: #f5da55;
  background-color: #323330;
  overflow: hidden; //hide the nav
  height: 80px; //height of top header without border-bottom
  opacity: 0.7;
  transition: $transition--search;
}
.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 8px;
  color: $white;
  border-bottom: 1px solid $white;
}
.header--logo {
  padding: 8px;
  font-family: 'Permanent Marker', cursive;
}
.header--close {
  transform: translateY(-80px);
  transition: all .2s linear;
}

/* ------------------------------------ nav
*/

.nav {
  max-width: 960px;
  padding: 8px;
  margin: 0 auto;
}
.nav--item {
  padding: 8px;
  text-transform: capitalize;
  background-color: #323330;
  color: $white;
  cursor: pointer;
}
.nav--open {
  height: calc(81px + 136px); // 80px top header + 1px border bottom + 136px nav
}

/* ---------------------------- nav-icon
*/

.nav-icon {
 padding: 8px;
}
.nav-icon--container {
  padding: 4.5px 7px;
  cursor: pointer;
}
%nav-icon--bar {
  margin: 5px 0;
  width: 25px;
  height: 3px;
  background-color: $white;
  border-radius: 10px;
  transition: 0.4s;
}
.nav-icon--bar1,
.nav-icon--bar2,
.nav-icon--bar3 {
  @extend %nav-icon--bar ;
}

/* ---------------------------------------------- filters
*/

.filter {
  transition: $transition--search;
}
.filter-background {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  width: 100vw;
  overflow: hidden;
}
@media only screen and (min-width: 450px) {
  .filter-background {
    max-height: 80vh;
  }
}
@media only screen and (min-width: 525px) {
  .filter-background {
    max-height: 70vh;
  }
}
.filter-background--whiteScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  opacity: 0.15;
}
.filter-background--title {
  position: absolute;
  bottom: 16px;
  right: -8px;
  padding: 8px 64px 8px 32px;
  padding-right: 15vw;
  font-size: 16px;
  text-transform: capitalize;
  /*font-family: 'Permanent Marker', cursive;*/
  color: $white;
  background-color: $dark;
  transform: skew(-20deg);
}

.filter--search {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: $white;
  input {
    min-width: 33vw;
    padding: 3vw;
    font-size: 0.8rem;
    border: none;
    border-radius: 40px;
    outline: none;
    transition: $transition--search;
    &:focus {
      width: 60vw;
    }
  };
}
@media only screen and (min-width: 450px) {
  .filter-search {
    input {
      padding: 1vw;
      font-size: 0.9rem;
    }
  }
}
@media only screen and (min-width: 525px) {
  .filter-background {
    input {
      padding: 20px;
      font-size: 1.2rem;
    }
  }
}

/* ---------------------------------------------- main
*/

.main--wrapper {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1080px;
  transition: $transition--search;
}

/* ---------------------------- sort-buttons
*/

.filter--tools {
  padding: 8px;
  margin: 16px 0;
}

.sortorder--container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 8px;
}
.sortorder--button {
  padding: 8px;
  margin-right: 16px;
  font-size: 14px;
  text-transform: capitalize;
  /*font-family: 'Permanent Marker', cursive;*/
  color: $white;
  border: none;
  outline: none;
  background-color: $dark;
  border-radius: 16px;
  cursor: pointer;
}
.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

/* ---------------------------- movie-genre
*/

.tags {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 8px;
}
.tag {
  display: inline-block;
  padding: 8px;
  font-size: 14px;
  color: $dark;
  border: 0.5px solid $white;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  &:hover {
    background-color: $dark;
    color: $white;
  }
}
.tag.is-active {
  background-color: $dark;
  color: $white;
}

/* ------------------------------------ movie-list
*/

.movie-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* ---------------------------- movie
*/

.movie {
  margin-bottom: 24px;
  width: 100%;
  &:hover .movie-background--filter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 630px) {
  .movie {
    margin-right: 24px;
    width: calc((100% - 24px)/2);
    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}
@media only screen and (min-width: 960px) {
  .movie {
    width: calc((100% - 48px) / 3);
    &:nth-of-type(2n) {
      margin-right: 24px;
    }
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}
.movie-background {
  position: relative;
  width: 100%;
  max-height: 220px;
  overflow: hidden;
  transition: filter .3s linear;
}
.movie-background--filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  padding: 16px;
  background-color: $dark;
  opacity: 0.25;
  cursor: pointer;
}
.movie--content {
  position: relative;
  width: 100%;
  background-color: #fcfcfc;
}
.movie--content-open {
  &::after {
    position: absolute;
    left: calc(50% - 10px);
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $dark;
  }
}
.movie--title {
  padding: 10px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $white;
}
.movie--date {
  padding: 10px;
  width: 100%;
  background-color: #0a1612;
  background-color: #c5c1c0;
  background-color: #1a2930;
  background-color: $dark;
  color: white;
}
.movie--rating {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: $white;
  background-color: #66CC33;
}
.movie-full {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  width: 100%;
  padding: 16px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: $dark;
}
.movie--open {
  margin-bottom: 330px;
}
.movie-full--open {
  display: flex;
}
.movie-full--content {
  padding: 0 16px;
  text-transform: capitalize;
  color: $white;
}
