/* ---------------------------- PARTIALS
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ------------------------------------ clearfix
*/
.group::before,
.group::after {
  content: "";
  display: table; }

.group::after {
  clear: both; }

.group {
  clear: both;
  *zoom: 1; }

/* ------------------------------------ reset
*/
/* http://meyerweb.com/eric/tools/css/reset/
   2. v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, video, embed, object {
  display: block;
  max-width: 100%;
  height: auto; }

/* ------------------------------------ typo (font-size 16px)
*/
html {
  font-size: 16px; }

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 13px; }

strong {
  font-weight: 700; }

cite, em {
  font-style: italic; }

/* ---------------------------- VARIABLES
*/
/* ---------------------------- BASE
*/
body {
  background-color: #f4f7f6; }

/* ---------------------------- LAYOUT
*/
/* ---------------------------- MODULES
*/
/*
.declaration-order {
  // Positioning
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  // Box-model
  display: block;
  float: right;
  width: 100px;
  height: 100px;

  // Typography
  font: normal 13px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  text-align: center;

  // Visual
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  // Misc
  opacity: 1;
}
*/
/* ---------------------------------------------- header
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #0a1612;
  background-color: #f5da55;
  background-color: #323330;
  overflow: hidden;
  height: 80px;
  opacity: 0.7;
  transition: all 0.15s linear; }

.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 8px;
  color: #F3F0EC;
  border-bottom: 1px solid #F3F0EC; }

.header--logo {
  padding: 8px;
  font-family: 'Permanent Marker', cursive; }

.header--close {
  transform: translateY(-80px);
  transition: all .2s linear; }

/* ------------------------------------ nav
*/
.nav {
  max-width: 960px;
  padding: 8px;
  margin: 0 auto; }

.nav--item {
  padding: 8px;
  text-transform: capitalize;
  background-color: #323330;
  color: #F3F0EC;
  cursor: pointer; }

.nav--open {
  height: calc(81px + 136px); }

/* ---------------------------- nav-icon
*/
.nav-icon {
  padding: 8px; }

.nav-icon--container {
  padding: 4.5px 7px;
  cursor: pointer; }

.nav-icon--bar1,
.nav-icon--bar2,
.nav-icon--bar3 {
  margin: 5px 0;
  width: 25px;
  height: 3px;
  background-color: #F3F0EC;
  border-radius: 10px;
  transition: 0.4s; }

/* ---------------------------------------------- filters
*/
.filter {
  transition: all 0.15s linear; }

.filter-background {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  width: 100vw;
  overflow: hidden; }

@media only screen and (min-width: 450px) {
  .filter-background {
    max-height: 80vh; } }
@media only screen and (min-width: 525px) {
  .filter-background {
    max-height: 70vh; } }
.filter-background--whiteScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F3F0EC;
  opacity: 0.15; }

.filter-background--title {
  position: absolute;
  bottom: 16px;
  right: -8px;
  padding: 8px 64px 8px 32px;
  padding-right: 15vw;
  font-size: 16px;
  text-transform: capitalize;
  /*font-family: 'Permanent Marker', cursive;*/
  color: #F3F0EC;
  background-color: #323330;
  transform: skew(-20deg); }

.filter--search {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #F3F0EC; }
  .filter--search input {
    min-width: 33vw;
    padding: 3vw;
    font-size: 0.8rem;
    border: none;
    border-radius: 40px;
    outline: none;
    transition: all 0.15s linear; }
    .filter--search input:focus {
      width: 60vw; }

@media only screen and (min-width: 450px) {
  .filter-search input {
    padding: 1vw;
    font-size: 0.9rem; } }
@media only screen and (min-width: 525px) {
  .filter-background input {
    padding: 20px;
    font-size: 1.2rem; } }
/* ---------------------------------------------- main
*/
.main--wrapper {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 960px;
  transition: all 0.15s linear; }

/* ---------------------------- sort-buttons
*/
.filter--tools {
  padding: 8px;
  margin: 16px 0; }

.sortorder--container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 8px; }

.sortorder--button {
  padding: 8px;
  margin-right: 16px;
  font-size: 14px;
  text-transform: capitalize;
  /*font-family: 'Permanent Marker', cursive;*/
  color: #F3F0EC;
  border: none;
  outline: none;
  background-color: #323330;
  border-radius: 16px;
  cursor: pointer; }

.sortorder:after {
  content: '\25b2'; }

.sortorder.reverse:after {
  content: '\25bc'; }

/* ---------------------------- movie-genre
*/
.tags {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 8px; }

.tag {
  display: inline-block;
  padding: 8px;
  font-size: 14px;
  color: #323330;
  border: 0.5px solid #F3F0EC;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer; }
  .tag:hover {
    background-color: #323330;
    color: #F3F0EC; }

.tag.is-active {
  background-color: #323330;
  color: #F3F0EC; }

/* ------------------------------------ movie-list
*/
.movie-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

/* ---------------------------- movie
*/
.movie {
  position: relative;
  margin-bottom: 24px;
  width: 100%; }
  .movie:hover .movie-background--filter {
    display: flex;
    align-items: center;
    justify-content: center; }

@media only screen and (min-width: 630px) {
  .movie {
    margin-right: 24px;
    width: calc((100% - 24px)/2); }
    .movie:nth-of-type(2n) {
      margin-right: 0; } }
@media only screen and (min-width: 960px) {
  .movie {
    width: calc((100% - 48px) / 3); }
    .movie:nth-of-type(2n) {
      margin-right: 24px; }
    .movie:nth-of-type(3n) {
      margin-right: 0; } }
.movie-background {
  position: relative;
  width: 100%;
  max-height: 220px;
  overflow: hidden;
  transition: filter .3s linear; }

.movie-background--filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  padding: 16px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  word-spacing: 2px;
  color: white;
  background-color: #323330;
  opacity: 0.5;
  cursor: pointer; }

.movie--content {
  position: relative;
  width: 100%;
  background-color: #fcfcfc; }

.movie--title {
  padding: 10px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #F3F0EC; }

.movie--date {
  padding: 10px;
  width: 100%;
  background-color: #0a1612;
  background-color: #c5c1c0;
  background-color: #1a2930;
  background-color: #323330;
  color: white; }

.movie--rating {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: #F3F0EC;
  background-color: #66CC33; }

/*# sourceMappingURL=wtw.css.map */
